output/
conf/eth_addr.txt
conf/internal_myst.conf
conf/internal_sentinel.conf
conf/internal_lethean.conf
result_processing/tmp/
notes/servers.txt
scripts/tmp/
scripts/config/*.log
resources/
*dir/
**/*.pyc
**/__pycache_
scripts/policy/*_custom.py
